.lamina-base {
  padding-top: 40px;
  padding-bottom: 40px;
}

p {
  color: #777;
}

.lamina-1 {
  background-image: url("https://images.unsplash.com/photo-1476124369491-e7addf5db371?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80");
  width: 100%;
  min-height: 800px;
  background-size: cover;
  background-position: top center;
  z-index: 1;
  text-align: center;
}

.lamina-1 .title {
  color: #777;
}

.align-items-center {
  align-items: center;
}

.lamina-3 {
  position: relative;
  min-height: 600px;
}

.lamina-3-container {
  position: relative;
  z-index: 2;
}

.lamina3-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lamina3-bg-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.lamina3-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://www.thespruceeats.com/thmb/xO3c5v4AhIWkqCq0TEgdbSGLgXw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/risotto-recipe-for-beginners-996008-step-01-bc1c3d806f0842c484f0534217e4c388.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.title {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: black;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 3px;
  word-spacing: -1px;
  line-height: 1.2em;
  font-size: 64px;
}

.title-small {
  font-size: 52px;
}

.subtitle {
  margin: 10px;
  text-align: center;
  color: #777;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 3px;
  word-spacing: -1px;
  line-height: 1.2em;
}

.container-list {
  background-color: rgba(255, 255, 255, 0.65);
  margin: 0 auto;
  padding: 20px 40px;
  border: 3px solid #ffffffee;
  border-radius: 3px;
  font-size: 24px;
}

.risotto-steps-list {
  margin-top: 12px;
}

.risotto-story-container {
  margin: 0 auto;
  max-width: 1600px;
}

.risotto-story-image {
  background-image: url("https://st2.depositphotos.com/1692343/11198/i/450/depositphotos_111987466-stock-photo-raw-organic-arborio-rice.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.25rem;
}

.risotto-story-description {
  padding: 0 32px;
}

@media (max-width: 1600px) {
  .risotto-story-image {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 991px) {
  .lamina-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .risotto-story-image {
    height: 300px;
    border-radius: 0;
  }

  .risotto-story-description {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.lamina-4 .column {
  padding-bottom: 24px;
}

.most-eaten-card {
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  margin: 0;
  padding: 20px 20px;
  background: white;
}
